---
import BootSequence from '../components/react/BootSequence';
import InventoryGrid from '../components/react/InventoryGrid';
import { ThemeProvider } from '../components/react/ThemeProvider';
import OsLayout from '../layouts/OsLayout.astro';
import { fetchGithubStats } from '../utils/github-stats';

const githubStats = await fetchGithubStats();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SimonOS</title>
  </head>
  <body>
    <OsLayout>
      <ThemeProvider client:load>
        <BootSequence client:load />
        <div id="desktop-layer" class="fixed inset-0 z-10 w-screen h-screen">
          <InventoryGrid client:load githubStats={githubStats} />
        </div>
      </ThemeProvider>
    </OsLayout>
  </body>
</html>
